<header class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand"><a href="/">RECIPE APP</a></h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? %>
    <li class="list-unstyled">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    </li>
  <% end %>
</header>