<header class="header">
  <h1 class="logo"><a href="/">BUDGET APP</a></h1>

  <button class="menu-button">
    <%= image_tag("menu.png", alt: "Menu icon", class: "menu-icon") %>
  </button>

  <div class="sign-out-container">

</header>