<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold" style="margin-left: 10px">BUDGET APP</h1>

    <% if user_signed_in? %>
      <div class="ml-auto" style="margin-left: auto;">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg" %>
      </div>
    <% end %>
  </div>
</nav>
