<section class="splash bg-blue-500 text-white p-8 h-screen flex flex-col justify-center items-center">
  <div class="mt-4">
    <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
      <%= link_to 'LOG IN', new_user_session_path %>
    </button>
    <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 ml-4">
      <%= link_to 'SIGN UP', new_user_registration_path %>
    </button>
  </div>
</section>

