<section class="splash">
  <h1 class="splash-title">Budget App</h1>
  <div>
    <button class="unique-button"><%= link_to 'LOG IN', new_user_session_path %></button>
    <button class="unique-button"><%= link_to 'SIGN UP', new_user_registration_path %></button>
  </div>
</section>